@import '../../colors.scss';

section {
    margin-bottom: 20px;

    .navBtn:hover {
        background-color: $blueHover;
    }

    .active:hover {
        background-color: $blue;
        cursor: default;
    }

    .navBtn_start {
        border-radius: 5px 0 0 5px;
    }

    .navBtn_end {
        border-radius: 0 5px 5px 0;
    }

    button {
        text-transform: uppercase;
        padding: 15px 15px 15px 15px;
        width: 170px;
        border: none;
        outline: 1px solid #DFE5EC;
        outline-offset: -1px;
        background-color: white;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }
    }

}


@media screen and (max-width: 800px) {

    nav {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 670px) {


    nav {
        height: 100%;

        button {
            width: 100%;
        }

        .active {
            height: 100%;
        }
    }



}