@import './style/colors.scss';


.blog {
    background-color: $background;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 30px;

    main {
        display: flex;
        justify-content: center;
        word-wrap: break-word;
    }

    button {
        &:hover {
            opacity: 0.8;
        }
    }

    .shadow-box {
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
        border-radius: 5px;
        background-color: $articles-background;
        display: flex;
    }

    .color-button {
        background: white;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .ant {
        display: block;

        &-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 20px;

            &-item-active {
                background: $blue;
                border-radius: 4px;

                a {
                    color: white;
                }
            }
        }

        &-spin {
            &-spinning {
                display: block;
            }

            &-dot {
                width: 3em;
                height: 3em;

                &-item {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }
}