@use "../../style"as *;

.avia {
    background-color: $fill;
    font-family: 'OpenSans'sans-serif;
    font-style: normal;
    padding: 10px 10px 10px 10px;
    min-height: 100vh;

    .block-shadow {
        background-color: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px 0 20px 0;
    }

    .ticket {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
        }

        .priceAndCompany {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .price {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: $blue;
            }
        }

    }

    .active {
        background-color: $blue;
        color: #fff;
        outline: none;
        box-sizing: border-box;
        text-transform: uppercase;
        height: 50px;
    }

    .contentWrapper {
        display: flex;
    }

    .weight600 {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
    }

    header {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    main {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    @media screen and (max-width: 800px) {
        main {
            flex-direction: column;
            align-items: center;
        }

    }

}