@use "../../../../../style"as *;

.main_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 130px;

    .skill {
        &_logo {
            @include size(115px);
            margin-bottom: 20px;

            &__img {
                @include size(100%);
            }
        }

        &_title {
            @include SmallText();
        }
    }

    &__squer {
        @include flexCenter();
        @include size(240px);
        flex-direction: column;
        background: $skills_squer_bg;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
        border-radius: 29px;
    }
}