@use "../../../../style"as *;

.homeHeader {
    padding-top: 80px;

    &_content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1260px;
    }

    &_aboutUs {
        @include flexCenter();

        &__inform {
            width: 40%;

            span {
                @include UpperText(500, 40px);
            }

            h1 {
                @include UpperText(700, 72px);
                margin: 0;
                line-height: 90px
            }

            p {
                @include SmallText();
                font-size: 25px;
                margin-top: 15px;
            }
        }

        &__img {
            width: 60%;
            margin-bottom: -6px;
            img {
                @include size(100%);
            }
        }

        &__btn {
            @include headerBtn();
        }
    }
}