@use "../../../../style"as *;


.homeMain {
    margin-bottom: 150px;

    &_content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1260px;
    }

    background: $gradient_bg;
    padding: 100px 10px 100px 10px;
}