@use "../../../../style"as *;

.main {
    &_content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1260px;
    }

    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    padding: 100px 10px 0px 10px;
}