$body_bgc:rgba(0, 0, 0, 0.9);
$text_color: #E4E4E4;
$skills_squer_bg: #2A2A2A;
$nav_bg: rgb(25 25 25 / 70%);
$gradient_bg:linear-gradient(130deg, #414141 0%, #2D2D2D 100%);
$header_btn_bgc:linear-gradient(90deg, #E2A300 4.5%, #E29500 95%);
$header_btn_shadow:0px 2px 13px rgba(226, 158, 0, 0.5);
$nav_border_color: orange;

//AviaSales

$fill: #F3F7FA;
$blue: #2196F3;
$grayText: #A0B0B9;
$bleckText: #4A4A4A;
$blueHover:#F1FCFF