@use "../../../../../style"as *;

.main_aboutMe {
    margin: 0 auto 0 auto;
    display: flex;
    max-width: 1000px;

    &__img {
        background: #2C2C2C;
        padding: 28px;
        border-radius: 14px;
        width: 200px;
        height: 360px;

        img {
            @include size(100%);
            box-shadow: 0px 0px 0px 6px #686868;
        }
    }

    &__statrtImg {
        display: flex;
        width: 30%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin: -30px -15px -30px 0;
        gap: 20px;
    }

    &__text {
        width: 40%;
        background: #2C2C2C;
        border-radius: 14px;
        padding: 28px;

        h4 {
            @include UpperText(400, 48px);
            margin: -65px 0 40px 0;
        }

        p {
            @include SmallText();
        }
    }

    &__endImg {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -15px;

    }
}

.aboutMe_wrapper {
    background: url(../../../../../assets/img/AboutMiBg.png) no-repeat center;
    background-size: cover;
    padding: 30px 10px 100px 10px;
}