@use "../../../../style"as *;

.portfolio {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 150px;

    h5 {
        @include UpperText(500, 48px);
        margin-bottom: 50px;
    }

    &_slider {
        max-width: 1260px;
    }
}

